# Created by https://www.gitignore.io/api/android

# Java class files
*.class

# Gradle files
app/.gradle/
app/build/
app/app/build/
app/app/build/build.gradle

# Local configuration file (sdk path, etc)
app/local.properties

# Log Files
*.log

# Intellij
*.iml
app/.idea
web/.idea/

# Keystore files
*.jks
