<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eps.somah2">

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:configChanges="keyboardHidden|locale"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeActivity"
            android:configChanges="keyboardHidden|locale"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllNamedTopicsActivity"
            android:configChanges="keyboardHidden|locale"
            android:label="@string/title_activity_all_categories" />
        <activity
            android:name=".SettingsActivity"
            android:configChanges="keyboardHidden|locale"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".AllNamedPeriodsActivity"
            android:configChanges="keyboardHidden|locale" />
        <activity
            android:name=".AllTextedContentActivity"
            android:label="@string/title_activity_content_named"
            android:configChanges="keyboardHidden|locale"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>